@import "tailwindcss";

.marble-bg {
  position: relative;
  min-height: 100vh;
  background-color: #05060a;
  background-image: url("/assets/marmore3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
